<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.if1001exemplo1.tcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroAlunoActivity"
            android:label="@string/title_activity_cadastro_aluno" />
        <activity
            android:name=".CadastroFuncionarioActivity"
            android:label="@string/title_activity_cadastro_professor" />
        <activity
            android:name=".CadastroLivroActivity"
            android:label="@string/title_activity_cadastro_livro" />
        <activity
            android:name=".CadastroDisciplinaActivity"
            android:label="@string/title_activity_cadastro_disciplina" />
        <activity
            android:name=".CadastroAlunoActivity2"
            android:label="@string/title_activity_cadastro_aluno2" />
        <activity
            android:name=".CadastroFuncionarioActivity2"
            android:label="@string/title_activity_cadastro_funcionario2" />
        <activity
            android:name=".CadastroProfessorActivity"
            android:label="@string/title_activity_cadastro_professor" />
        <activity
            android:name=".CadastroProfessorActivity2"
            android:label="@string/title_activity_cadastro_professor2" />
        <activity
            android:name=".ListAlunoActivity"
            android:label="@string/title_activity_list_aluno" />
        <activity
            android:name=".ListLivroActivity"
            android:label="@string/title_activity_list_livro" />
        <activity
            android:name=".ListDisciplinaActivity"
            android:label="@string/title_activity_list_disciplina" />
        <activity
            android:name=".ListProfessorActivity"
            android:label="@string/title_activity_list_professor" />
        <activity
            android:name=".ListFuncionarioActivity"
            android:label="@string/title_activity_list_funcionario" />
        <activity
            android:name=".NotasFaltasActivity"
            android:label="@string/title_activity_notas_faltas" />
        <activity
            android:name=".AtribuirNotasActivity"
            android:label="@string/title_activity_emprestimo_livro" />
        <activity
            android:name=".MatriculaActivity"
            android:label="@string/title_activity_matricula" />
        <activity
            android:name="com.if1001exemplo1.tcc.ListDisciplinaMatriculaActivity"
            android:label="@string/title_activity_list_disciplina_matricula" />
        <activity
            android:name=".ListDisciplinaAlunoActivity"
            android:label="@string/title_activity_list_disciplina_aluno" />
        <activity
            android:name=".BoletimActivity"
            android:label="@string/title_activity_boletim" />
        <activity
            android:name=".VisualizarNotaDisciplinaActivity"
            android:label="@string/title_activity_visualizar_nota_disciplina" />
        <activity
            android:name=".InicioLivroActivity"
            android:label="@string/title_activity_inicio_livro" />
        <activity
            android:name=".EmprestarLivroActivity"
            android:label="@string/title_activity_emprestar_livro" />
        <activity
            android:name=".SenhaAcessoBoletimActivity"
            android:label="@string/title_activity_senha_acesso_boletim"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AcessoAtribuirNotasActivity"
            android:label="@string/title_activity_acesso_atribuir_notas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AcessoBibliotecarioActivity"
            android:label="@string/title_activity_acesso_bibliotecario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>